<%- layout('./layouts/boilerplate') %>
<!-- body main part -->
<section class="ml-14 mr-14">
    <div class="mt-16 flex justify-between flex-col items-center lg:flex-row">
        <div class="mb-10">
            <h1 class="text-7xl md:text-8xl font-bold font-akshar">Make Your<br><span
                    class="text-[#FF7A00]">Dream</span><br><span></span></h1>
                    <h1 class="text-5xl md:text-8xl font-bold font-akshar" id="text">Food With Us</h1>
        </div>
        <div class="sm:mt-5">
            <img src="/images/burger.png" class="relative bottom-7 md:bottom-28 h-56 left-10" alt="">
        </div>
        <div>
            <img src="/images/Screenshot_2025-01-13_233319-removebg-preview.png" class="h-72 md:h-96" alt="">
        </div>
    </div>
    <div>
        <div class="flex p-2 w-48 rounded-full backdrop-blur-lg md:left-10 relative lg:left-[850px] bottom-20">
            <img src="/images/burgerss.svg" class="bg-white rounded-full relative size-10" alt="">
            <div class="ml-5">
                <p class="text-white font-bold">Burger</p>
                <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input
                      type="radio"
                      name="rating-2"
                      class="mask mask-star-2 bg-orange-400"
                       />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked="checked" />
                  </div>
            </div>
        </div>
    </div>
</section>